.center-section-heading {
  display: flex;
  justify-content: center;
}
.pricing-section-bg-img {
  background-image: url("/assets/img/bg/pricing_bg.png");
}
.pricing {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-card {
  padding: 60px 75px;
  min-width: 255px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 1;
  background: rgb(255 0 0 / 0%);
  backdrop-filter: blur(100px);
  &.active {
    background: rgba($primary, 60%);
  }
  .pricing-heading {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
      font-size: 18px;
    }
    .main-price {
      text-decoration-line: line-through;
    }
  }
  .option-all {
    margin-bottom: 40px;
    .option {
      display: flex !important;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 10px;
      .title {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .pricing {
    gap: 50px;
  }
  .pricing-card {
    padding: 60px 0px;
    width: 100%;
  }
}
